extends base.pug

block content
    div#videoContainer(data-video-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls
            button#play
                i.fas.fa-play
            div
                span#currentTime 00:00
            input(type="range", step="1", value=0, min="0")#timeline
            div 
                span#totalTime 00:00
            input(type="range", step="0.1", min="0", max="1")#volume
            button#mute
                i.fas.fa-volume-up
            div
                button#fullScreen 
                    i.fas.fa-expand
    div.video__data 
        p.video__title=video.description
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        if String(video.owner._id) === String(user._id)
            //- [ Absolute vs. Relative URL in href ]
            //- `/`을 붙이면 absolute url로 동작
            //- Root : localhost:4000
            //- Current : localhost:4000/videos/1
            //- `href="/edit" : `{ROOT}/edit`으로 이동
            //- `href="edit" : `{CURRENT}/edit`으로 이동
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
    
    if isLoggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a comment...")
                button Add Comment

    div.video__comments
        ul
            each comment in video.comments.reverse()
                li.video__comment
                    i.fas.fa-comment 
                    span #{comment.text}
                    if String(video.owner._id) === String(user._id)
                        button(data-id=comment.id) ❌

block scripts 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")